<form method="post" asp-action="Tinh_BMI">
    <label for="Weight">Cân nặng (kg):</label>
    <input type="text" id="Weight" name="Weight" />

    <label for="Height">Chiều cao (m):</label>
    <input type="text" id="Height" name="Height" />

    <button type="submit">Tính chỉ số BMI</button>
</form>

@if (ViewBag.Tinh_BMI != null)
{
    <p>Chỉ số BMI của bạn là: @ViewBag.Tinh_BMI</p>
    <p>Trạng thái: @ViewBag.Note</p>
}
else if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}